/.gradle/8.2/checksums/checksums.lock
/.gradle/8.2/checksums/md5-checksums.bin
/.gradle/8.2/checksums/sha1-checksums.bin
/.gradle/8.2/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.2/dependencies-accessors/gc.properties
/.gradle/8.2/executionHistory/executionHistory.bin
/.gradle/8.2/executionHistory/executionHistory.lock
/.gradle/8.2/fileChanges/last-build.bin
/.gradle/8.2/fileHashes/fileHashes.bin
/.gradle/8.2/fileHashes/fileHashes.lock
/.gradle/8.2/fileHashes/resourceHashesCache.bin
/.gradle/8.2/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
/gradlew
/gradlew.bat
/testdb.mv.db
/testdb.trace.db
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/.idea/misc.xml
/.idea/vcs.xml
/build/classes/java/main/com/todoapp/todoapp1/model/Todo.class
/build/classes/java/main/com/todoapp/todoapp1/model/TodoRepository.class
/build/classes/java/main/com/todoapp/todoapp1/model/TodoRepositoryMem.class
/build/classes/java/main/com/todoapp/todoapp1/model/User.class
/build/classes/java/main/com/todoapp/todoapp1/model/UserRepository.class
/build/classes/java/main/com/todoapp/todoapp1/model/UserRepositoryMem.class
/build/classes/java/main/com/todoapp/todoapp1/Todoapp1Application.class
/build/classes/java/main/com/todoapp/todoapp1/TodoController.class
/build/resources/main/static/add_employee.html
/build/resources/main/static/user.png
/build/resources/main/templates/employee_todo_list.html
/build/resources/main/templates/employees.html
/build/resources/main/templates/login.html
/build/resources/main/templates/supervisor_employee_edit.html
/build/resources/main/templates/supervisor_employee_todos.html
/build/resources/main/application.properties
/build/tmp/compileJava/previous-compilation-data.bin
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
